<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#808080">
    <title>heelYeah! - New Balance</title>
    <link rel="icon" href="{{ url_for('static', filename='images/icon.jpg') }}" type="image/x-icon">
    <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="logo">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/brand.css') }}">
    <body style = "background-color: #CDCCCC;">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>

    
</head>
     
<body>


    <header class="header">
        <div class="logo">
            <a href="{{ url_for('views.homepage') }}">
                <img src="{{ url_for('static', filename='images/logo.jpg') }}" width="170" height="50" alt="logo">
            </a>
        </div>
    
        <button class="hamburger" onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </button>
    
        <nav class="navigation" id="navMenu">
            <a href="{{ url_for('views.men') }}"><button class="nav-btn">Men</button></a>
            <a href="{{ url_for('views.women') }}"><button class="nav-btn">Women</button></a>
    
            <div class="dropdown">
                <button class="nav-btn dropdown-btn">Brands</button>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('views.nike') }}">Nike</a></li>
                    <li><a href="{{ url_for('views.adidas') }}">Adidas</a></li>
                    <li><a href="{{ url_for('views.newbalance') }}">New Balance</a></li>
                    <li><a href="{{ url_for('views.converse') }}">Converse</a></li>
                    <li><a href="{{ url_for('views.puma') }}">Puma</a></li>
                </ul>
            </div>
    
            
            <div class="nav-icons">
                <a href="{{ url_for('auth.profile') if session.get('logged_in') else url_for('auth.login') }}">
                    <i class="fas fa-user"></i>
                </a>
                <a href="{{ url_for('views.cart') }}"><i class="fas fa-shopping-cart"></i></a>
                {% if session.get('logged_in') %}
                    <a href="{{ url_for('auth.logout') }}" id="logout-btn">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                {% endif %}
            </div>
        </nav>
    </header>
    
    <br>

    <section class="gender-section">
        <div class="nike-logo">
            <img src="{{ url_for('static', filename='images/lgB.png') }}" alt="Nike Logo">
        </div>
        <div class="nb-image">
            <img src="{{ url_for('static', filename='newbalance_images/nub.png') }}" alt="Center Image">
        </div>
        <div class="gender-container">
            <div class="gender-filter">GENDER</div>
            <div class="gender-options">
                <label>
                    <input type="checkbox" id="men-filter">
                    <span class="custom-checkbox"></span> MEN
                </label>
                <label>
                    <input type="checkbox" id="women-filter">
                    <span class="custom-checkbox"></span> WOMEN
                </label>
            </div>
        </div>
    </section>
        
        </div>
    </section>

    <section class="product-grid" id="product-container">
        
    </section>

    <div class="pagination">
        <button id="prevPage" disabled>
            <i class="fas fa-chevron-left"></i> 
        </button>
        <button id="nextPage">
             <i class="fas fa-chevron-right"></i>
        </button>
    </div>

    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h4>About</h4>
                <ul>
                    <li><a href="{{ url_for('views.aboutus')}}">About us</a></li>
                    <li><a href="{{ url_for('views.termsandconditions')}}">Terms & Conditions</a></li>
                    <li><a href="{{ url_for('views.privacypolicy')}}">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Customer Service</h4>
                <ul>
                    <li><a href="{{ url_for('views.faq')}}">FAQ</a></li>
                    <li><a href="{{ url_for('views.contactus')}}">Contact us</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/newbalance.js') }}"></script>
    <script src="{{ url_for('static', filename='js/logout.js') }}"></script>
    
</body>
</html>